@import "tailwindcss";

:root {
    --base-color: #fafafa;
    --base-variant: #dfdfdf;
    --text-color: #111111;
    --text-variant: #fcfcfc;
    --primary-color: #333333;
    --accent-color: #00ff6a;
    --border-color: #ffffff;
    --background-color: #fcfcfc;
    --hover-text: #eeeeee;
}

.lightmode {
    --base-color: #fafafa;
    --base-variant: #dddddd;
    --base-variant2: #2c2c2c;
    --text-color: #111111;
    --text-variant: #fcfcfc;
    --primary-color: #333333;
    --accent-color: #00ff6a;
    --border-color: #ffffff;
    --background-color: #fcfcfc;
    --hover-text: #0f0f0f;
    background-color: var(--background-color);
    color: var(--text-color);
}
.darkmode {
    --base-color: #1c1c1c;
    --base-variant: #1f1f1f;
    --base-variant2: #bbbbbb;
    --text-color: #fcfcfc;
    --text-variant: #1f1f1f;
    --primary-color: #dddddd;
    --accent-color: #00ff6a;
    --border-color: #000000;
    --background-color: #111111;
    --hover-text: #eeeeee;
    background-color: var(--background-color);
    color: var(--text-color);
}

table {
    border-style: hidden;
    border-spacing: 1em;
    width: 100%;
    height: 100%;
    border-collapse:separate;
}

td {
    width: 20%;
    height: 20%;
    text-align: center;
    vertical-align: middle;
    padding: .5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: bold;
}

.cell-square {
    position: relative;
    text-align: center;
    width: 20%;
    color: var(--text-color);
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 2em;
    font-size: 1em;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-wrap: balance;
    box-shadow: 1px 1px 3px #00000010, -1px -1px 3px #FFFFFF30;
    transition: all 200ms 0s;
}

.cell-square:hover {
    box-shadow: inset 1px 1px 0px #00000020, inset -1px -1px 0px #FFFFFF50;
    background-color: var(--base-color);
}

.cell-square:active {
    box-shadow: inset 1px 1px 3px #00000030, inset -1px -1px 3px #FFFFFF60;
    background-color: var(--base-color);
}

.selected-cell {
    position: relative;
    text-align: center;
    width: 20%;
    background-color: var(--primary-color);
    padding-left: 1em;
    padding-right: 1em;
    color: var(--text-variant);
    border-radius: 2em;
    font-size: 1em;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-wrap: balance;
    box-shadow: inset 1px 1px 4px #00000090, inset -1px -1px 4px #FFFFFF70;
    transition: all 200ms 0s;
}

.selected-cell:hover {
    box-shadow: 1px 1px 2px #00000030, -1px -1px 2px #FFFFFF50;
    background-color: var(--base-variant2);
}

.selected-cell:active {
    box-shadow: inset 1px 1px 2px #00000090, inset -1px -1px 2px #FFFFFF70;
    background-color: var(--base-variant2);
}

.free-cell
{
    position: relative;
    text-align: center;
    width: 20%;
    background-color: var(--primary-color);
    box-shadow: 5em;
    padding-left: 1em;
    padding-right: 1em;
    color: var(--text-variant);
    border-radius: 2em;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-wrap: balance;
    box-shadow: inset 1px 1px 4px #00000090, inset -1px -1px 4px #FFFFFF70;
}

.bingo-cell
{
    position: relative;
    text-align: center;
    width: 20%;
    background-color: var(--accent-color);
    border-width: 2px;
    box-shadow: 5em;
    padding-left: 1em;
    padding-right: 1em;
    color: var(--base-color);
    border-width: 12px;
    border-color: var(--border-color);
    border-radius: 32px;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.my-button{
    font-size: large;
    border: none;
    color: var(--text-color);
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-top: .5em;
    padding-bottom: .5em;
    width: auto;
    height: auto;
    border-radius: 1em;
    font-weight: 600;
    text-wrap: nowrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px 3px #00000010, -1px -1px 3px #FFFFFF30;
}

.my-button:hover{
    background-color: var(--base-color);
    scale: 90%;
    box-shadow: inset 1px 1px 0px #00000020, inset -1px -1px 0px #FFFFFF50;
}


.theme-button{
    font-size: medium;
    border: none;
    color: var(--text-color);
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    border-radius: 1em;
    font-weight: 600;
    text-wrap: nowrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    right: 0em;
    top: 0em;
    box-shadow: 1px 1px 3px #00000010, -1px -1px 3px #FFFFFF30;
}

.theme-button:hover{
    scale: 90%;
    background-color: var(--base-color);
    box-shadow: inset 1px 1px 0px #00000020, inset -1px -1px 0px #FFFFFF50;
}


.bingo-div{
    background-color: var(--base-variant);
    border: none;
    width: 40%;
    height: 30%;
    padding: 2em;
    border-radius: 3em;
    justify-items: center;
    justify-self: center;
    align-content: center;
    position: absolute;
    display: flex;
    z-index: 5;
    left: 50%;
    top: 50%;
    translate: -50% -50%;

}

.bingo-text{
    font-size: x-large;
    border: none;
    color: var(--text-color);
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
    z-index: 5;
    font-weight: 600;
    text-wrap: nowrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.exit-button{
    font-size: medium;
    background-color: var(--base-color);
    border: none;
    color: var(--text-color);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: .35em;
    padding-bottom: .35em;
    width: auto;
    height: auto;
    margin-top: 1.5em;
    margin-right: 1.5em;
    border-radius: 1em;
    font-weight: 600;
    text-wrap: nowrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    right: 0em;
    top: 0em;
    z-index: 5;
}


.exit-button:hover {
    font-size: medium;
    background-color: var(--base-variant);
    border: none;
    color: var(--hover-text);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: .35em;
    padding-bottom: .35em;
    width: auto;
    height: auto;
    margin-top: 1.5em;
    margin-right: 1.5em;
    border-radius: 1em;
    font-weight: 600;
    text-wrap: nowrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    right: 0em;
    top: 0em;
    z-index: 5;
}

.main-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--background-color);
}